/* 1. Colors */
  $green: #7a972c;
  $blue: #2d607c;
  $yellow: #fdba1a;
  $orange: #f09d06;
  $purple: #997792;
  $grey: #968b84;
  $red: #ff6666;

/* 2. Fonts */
  $comforta: 'Comfortaa', cursive;

/* 3. Mixins */
  @mixin border-radius($radius) {-webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius;}

/* 4. Global settings */
  * {font-family: $comforta; }
  .bg {background: $orange;}
  .bge {background: $orange; transition: all 0.4s ease;}
  .body {background: #f5f5f5; height: 100vh; width: 100vw;}
  .center {text-align: center;}
  .circle {border-radius: 50%}
  #error-msg {background: #ff6666; border: 0; border-radius: 100px; text-align: center;}
  .loader {color: $red !important;}
  .pin {position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;}
  .tooltip__content {background: $purple; color: #fff;}

  /* 3a. Landing Page, Login and Register layout */
    .main {background: $purple; border: 5px solid $orange; height: 140px; width: 140px;}
    .main-bg {height: 150px; width: 150px;}
    .main-btn {background: transparent; font-size: 24px; height: 130px; letter-spacing: 3px; padding-left: 4px; text-transform: lowercase; width: 130px; }

    .small {background: $yellow; height: 170px; width: 170px; right: -50px; top: -240px;}
    .small-bg {height: 190px; width: 190px; right: -50px; top: -240px;}

    .medium {background: $blue; height: 250px; width: 250px; right: -250px; top: -120px;}
    .medium-bg {height: 270px; width: 270px; right: -250px; top: -120px;}

    .big {background: $green; height: 300px; width: 300px; left: -250px; top: -170px;}
    .big-bg {height: 320px; width: 320px; left: -250px; top: -170px;}

    .reg {background: $blue; height: 35px; width: 150px; right: -390px; bottom: -95px; @include border-radius(10px)}
    .reg-bg {height: 55px; width: 170px; right: -390px; bottom: -95px; @include border-radius(14px)}

    .log {background: $green; height: 35px; width: 150px; left: -400px; top: -435px; @include border-radius(10px)}
    .log-bg {height: 55px; width: 170px; left: -400px; top: -435px; @include border-radius(14px)}

    .login--active {background: $green;}
    .register--active {background: $blue;}

    .next-btn-text {color: #fff; font-size: 33px; letter-spacing: 10px !important; line-height: 130px; padding-left: 8px; text-align: center;}
    .sign-btn-text {color: #fff; font-size: 17px; letter-spacing: 8px; line-height: 37px;}

    form.form {height: 60px; left: -200px; top: -290px; width: 270px;}
    input.field {background: #fff; border: 2px solid $orange; display: block; height: 25px; margin: 15px; padding: 0 5px; width: 250px; @include border-radius(6px)}

  /* 3b. Profile and Setup Profile layout */

    .main-main {background: $purple; border: 5px solid $orange; height: 140px; width: 140px; z-index: 1;}

    .explodeBg {background: transparent; transform: scale(1.8); transition: all 0.4s ease; z-index: 0;}

    #menu-hamburger, #logout {border: 3px solid $orange; cursor: pointer; height: 45px; position: absolute; width: 45px; transition: all 0.5s ease;}
    #menu-hamburger {background: $purple; left: 10px; top: 10px;}
    #logout {background: $grey; bottom: 10px; left: 10px; z-index: 20}
    #logout-btn, #menu-hamburger-btn {background: transparent; height: 38px; width: 38px;}
    #logout:hover, #menu-hamburger:hover {transform: scale(1.2); transition: all 0.2s ease;}

    .control-panel {z-index: 5;}
    .panel-item-axl {height: 0px; width: 0px; transition: all 0.4s ease;}
    .panel-item {background: $orange; height: 60px; left: -57px; position: absolute; top: -57px; width: 60px; z-index: 10; transition: all 0.4s ease, background 0.2s ease;}
    .panel-item:hover {transform: scale(1.1); transition: all 0.2s ease;}

    #ranks-axl {transform: rotate(0deg)}
    #avatar-axl, #spots-axl {transform: rotate(45deg)}
    #people-axl {transform: rotate(90deg)}
    #hobbies-axl, #chat-axl {transform: rotate(135deg)}
    #badges-axl {transform: rotate(180deg)}
    #location-axl, #settings-axl {transform: rotate(225deg)}
    #challenge-axl {transform: rotate(270deg)}
    #details-axl, #checks-axl {transform: rotate(315deg)}

    .explodePanel {height: 90px; width: 90px; transition: all 0.4s ease}

    #navigation-drawer {background: $purple; color: #fff;}
    .drawer-item-text {color: #fff; font-size: 16px; text-transform: uppercase;}
    .drawer-item-icn {color: $yellow !important;}
